@import "compass/css3";

body {
    font-family: Sans-serif;
}

td {
    white-space: nowrap;
    vertical-align: top;
}

.wrappable {
    white-space: normal;
}

.inline {
    display: inline;
    margin: 0;
}

table#striped tr:nth-child(odd) {
    background-color: #ffffff;
}*/

blockquote {
    border-left: 5px solid #999999;
    margin: 10px;
    padding: 0.0em 10px;
}

.hidden {
  visibility: hidden;
}

tr:hover .hidden {
    visibility: visible;
}
