{% include 'header.j2' -%}
	<body>
        {% include 'search.j2' -%}
        {% if messages -%}
        <table align='center' width='85%' border='0' cellpadding='10'>
            <tr>
                <td width='115px'><b>Team:</b> {{ messages[0]["team_name"] }}</td>
                <td align='left'><b>Channel:</b> {{ messages[0]["channel_name"] }}</td>
                <td width='80px' align='right'><form method='post' action='{{ prev20_url }}' class='inline'>
                     <input type='hidden' name='q' value='{{ q }}'>
                     <input type='hidden' name='username' value='{{ username }}'>
                     <input type='hidden' name='channel_name' value='{{ channel_name }}'>
                     <input type='hidden' name='team_name' value='{{ team_name }}'>
                     <input type='hidden' name='start_date' value='{{ start_date }}'>
                     <input type='hidden' name='end_date' value='{{ end_date }}'>
                     <input type='hidden' name='sql_match' value='{{ sql_match }}'>
                     <button type="submit" name="see_in_context" value="see_in_context" class="link-button">&lt;&lt; Back 20</button>
                </form></td>
                <td width='80px' align='right'><form method='post' action='{{ prev_url }}' class='inline'>
                     <input type='hidden' name='q' value='{{ q }}'>
                     <input type='hidden' name='username' value='{{ username }}'>
                     <input type='hidden' name='channel_name' value='{{ channel_name }}'>
                     <input type='hidden' name='team_name' value='{{ team_name }}'>
                     <input type='hidden' name='start_date' value='{{ start_date }}'>
                     <input type='hidden' name='end_date' value='{{ end_date }}'>
                     <input type='hidden' name='sql_match' value='{{ sql_match }}'>
                     <button type="submit" name="see_in_context" value="see_in_context" class="link-button">&lt; Back 1</button>
                </form></td>
                <td width='80px' align='right'><form method='post' action='{{ next_url }}' class='inline'>
                     <input type='hidden' name='q' value='{{ q }}'>
                     <input type='hidden' name='username' value='{{ username }}'>
                     <input type='hidden' name='channel_name' value='{{ channel_name }}'>
                     <input type='hidden' name='team_name' value='{{ team_name }}'>
                     <input type='hidden' name='start_date' value='{{ start_date }}'>
                     <input type='hidden' name='end_date' value='{{ end_date }}'>
                     <input type='hidden' name='sql_match' value='{{ sql_match }}'>
                     <button type="submit" name="see_in_context" value="see_in_context" class="link-button">Forward 1 &gt;</button>
                </form></td>
                <td width='80px' align='right'><form method='post' action='{{ next20_url }}' class='inline'>
                     <input type='hidden' name='q' value='{{ q }}'>
                     <input type='hidden' name='username' value='{{ username }}'>
                     <input type='hidden' name='channel_name' value='{{ channel_name }}'>
                     <input type='hidden' name='team_name' value='{{ team_name }}'>
                     <input type='hidden' name='start_date' value='{{ start_date }}'>
                     <input type='hidden' name='end_date' value='{{ end_date }}'>
                     <input type='hidden' name='sql_match' value='{{ sql_match }}'>
                     <button type="submit" name="see_in_context" value="see_in_context" class="link-button">Forward 20 &gt;&gt;</button>
                </form></td>
            </tr>
        </table>
		<table align='center' width='85%' border='0' cellspacing='0' cellpadding='4'>
            {% for message in messages -%}
                {% if message["display_user"] -%}
                <tr>
                    <td rowspan='2' valign='top' align='right' width='55px' align='center'><img height='46px' src='{{ message["avatar_url"] }}' /></td>
                    <td valign='top'><b>{{ message["full_name"] }}</b> <font color='#666666' size='-1'><i>{{ message["time"] }}</i> {% if message["display_date"] -%}{{ message["date"] }}{% endif -%}</font></td>
                </tr>
                <tr>
                    <td width='*' class='wrappable'>{{ message["text"] }}</td>
                    {% if message["archive_url"] -%}
                    <td width='50'><a href='{{ message["archive_url"] }}'>Archive URL</a></td>
                    {% endif -%}
                </tr>
                {% else -%}
                <tr>
                    <td align='right' valign='middle'><div class='hidden'><font size='-2' color='#666666'><i>{{ message["time"] }}</i></font></div></td>
                    <td width='*' class='wrappable'>{{ message["text"] }}</td>
                    {% if message["archive_url"] -%}
                    <td width='50'><a href='{{ message["archive_url"] }}'>Archive URL</a></td>
                    {% endif -%}
                </tr>
                {% endif -%}
                {% if message.files is defined -%}
                    <tr>
                    {% for file in message["files"] -%}
                        <td>&nbsp;</td>
                        <td><a href='{{ file["url"] }}'><img src='{{ file["thumb"] }}' /></a></td>
                    {% endfor -%}
                    </tr>
                {% endif -%}
            </tr>
            {% endfor -%}
            <tr>
                <td colspan='5'>Found {{ messages|length }} results</td>
            </tr>
        </table>
        <table align='center' width='85%' border='0' cellpadding='10'>
            <tr>
                <td width='115px'><b>Team:</b> {{ messages[0]["team_name"] }}</td>
                <td align='left'><b>Channel:</b> {{ messages[0]["channel_name"] }}</td>
                <td width='80px' align='right'><form method='post' action='{{ prev20_url }}' class='inline'>
                     <input type='hidden' name='q' value='{{ q }}'>
                     <input type='hidden' name='username' value='{{ username }}'>
                     <input type='hidden' name='channel_name' value='{{ channel_name }}'>
                     <input type='hidden' name='team_name' value='{{ team_name }}'>
                     <input type='hidden' name='start_date' value='{{ start_date }}'>
                     <input type='hidden' name='end_date' value='{{ end_date }}'>
                     <input type='hidden' name='sql_match' value='{{ sql_match }}'>
                     <button type="submit" name="see_in_context" value="see_in_context" class="link-button">&lt;&lt; Back 20</button>
                </form></td>
                <td width='80px' align='right'><form method='post' action='{{ prev_url }}' class='inline'>
                     <input type='hidden' name='q' value='{{ q }}'>
                     <input type='hidden' name='username' value='{{ username }}'>
                     <input type='hidden' name='channel_name' value='{{ channel_name }}'>
                     <input type='hidden' name='team_name' value='{{ team_name }}'>
                     <input type='hidden' name='start_date' value='{{ start_date }}'>
                     <input type='hidden' name='end_date' value='{{ end_date }}'>
                     <input type='hidden' name='sql_match' value='{{ sql_match }}'>
                     <button type="submit" name="see_in_context" value="see_in_context" class="link-button">&lt; Back 1</button>
                </form></td>
                <td width='80px' align='right'><form method='post' action='{{ next_url }}' class='inline'>
                     <input type='hidden' name='q' value='{{ q }}'>
                     <input type='hidden' name='username' value='{{ username }}'>
                     <input type='hidden' name='channel_name' value='{{ channel_name }}'>
                     <input type='hidden' name='team_name' value='{{ team_name }}'>
                     <input type='hidden' name='start_date' value='{{ start_date }}'>
                     <input type='hidden' name='end_date' value='{{ end_date }}'>
                     <input type='hidden' name='sql_match' value='{{ sql_match }}'>
                     <button type="submit" name="see_in_context" value="see_in_context" class="link-button">Forward 1 &gt;</button>
                </form></td>
                <td width='80px' align='right'><form method='post' action='{{ next20_url }}' class='inline'>
                     <input type='hidden' name='q' value='{{ q }}'>
                     <input type='hidden' name='username' value='{{ username }}'>
                     <input type='hidden' name='channel_name' value='{{ channel_name }}'>
                     <input type='hidden' name='team_name' value='{{ team_name }}'>
                     <input type='hidden' name='start_date' value='{{ start_date }}'>
                     <input type='hidden' name='end_date' value='{{ end_date }}'>
                     <input type='hidden' name='sql_match' value='{{ sql_match }}'>
                     <button type="submit" name="see_in_context" value="see_in_context" class="link-button">Forward 20 &gt;&gt;</button>
                </form></td>
            </tr>
        </table>
        {% endif -%}
        {% if errors -%}
        <table border='0' width='85%' align='center'>
            {% for error in errors -%}
                <tr><td>{{ error }}</td></tr>
            {% endfor -%}
        </table>
        {% endif -%}
        <table border='0' align='center' width='85%'>
            <tr><td><a href='/?q={{ q }}'>Back to search</a></td></tr>
        </table>
	</body>
{% include 'footer.j2' -%}
