
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8"/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://slack-archive.istolethis.com" />
		<meta property="og:title" content="Slack Archive" />
		<meta property="og:description" content="Search slack-archive" />
		<title>Slack Archive</title>
        <script lang='JavaScript'>
            function disableEmptyInputs(form) {
                var controls = form.elements;
                for (var i=0, iLen=controls.length; i<iLen; i++) {
                    controls[i].disabled = controls[i].value == '';
                }
            }
        </script>
        <link rel='stylesheet' type='text/css' href='/static/style.css'>
	</head>
    <body>
        <table border='0' cellpadding='8' align='center' width='85%'>
            <tr>
                <td><font size='+5'>Slack Archive Search</font></td>
            </tr>
        </table>
