
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8"/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://slack-archive.istolethis.com" />
		<meta property="og:title" content="Slack Archive" />
		<meta property="og:description" content="Search slack-archive" />
		<title>Slack Archive</title>
        <script lang='JavaScript'>
            function disableEmptyInputs(form) {
                var controls = form.elements;
                for (var i=0, iLen=controls.length; i<iLen; i++) {
                    controls[i].disabled = controls[i].value == '';
                }
            }
        </script>
        <style>
            body {
                font-family: Sans-serif;
            }

            td {
                white-space: nowrap;
                vertical-align: top;
            }

            .wrappable {
                white-space: normal;
            }

            .inline {
                display: inline;
                margin: 0;
            }

/*            table#striped tr:nth-child(even) {
                background-color: #cccccc;
            }

            table#striped tr:nth-child(odd) {
                background-color: #ffffff;
            }*/

            blockquote {
                border-left: 5px solid #999999;
                margin: 10px;
                padding: 0.0em 10px;
            }
		</style>
	</head>
